/* ==========================
   SIDEBAR
========================== */

.sidebar {
  width: 230px;
  height: 100vh;
  background: #050505;

  display: flex;
  flex-direction: column;

  border-right: 1px solid #1b1b1b;

  position: sticky;
  top: 0;
}

/* ==========================
   LOGO
========================== */

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px 20px 25px;

  border-bottom: 1px solid #1c1c1c;
}

.sidebar-logo img {
  width: 145px;
  object-fit: contain;
}

/* ==========================
   MENU
========================== */

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 22px 14px;
}

/* ==========================
   MENU ITEM
========================== */

.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 13px 16px;

  color: #B5B5B5;
  text-decoration: none;

  border-radius: 12px;

  font-size: 14px;
  font-weight: 500;

  transition: all .25s ease;
}

/* Icon */

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
}

/* Hover */

.menu-item:hover {
  background: #1B1B1B;
  color: white;
}

/* Active */

.menu-item.active {
  background: #6C3EF4;
  color: white;
}

.menu-item.active .menu-icon {
  color: white;
}

/* ==========================
   SCROLL
========================== */

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}