.employee-layout{

    display:flex;

    width:100%;

    min-height:100vh;

    background:#0f0f1a;

}

.employee-main{

    flex:1;

    display:flex;

    flex-direction:column;

    overflow:hidden;

}

.employee-content{
    flex:1;
    padding:30px;
    background:#F6F7FB;
    overflow-y:auto;
}